.a1{
      width: 500px;
      height: 500px;
      border: 1px solid red;
      background-image: url(./muhammad.jpg);
      background-repeat: no-repeat;
      text-align: center;
      background-size:100%;
}